
<html ng-app="myModule">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="./like-dislike.js"></script>
</head>
<body >
<div ng-include="hello.html"></div>
<style>
    th{
        cursor: pointer;
    }
</style>

<div ng-controller="myController">
    <div align="center">
        Rows to show :<input type="number" ng-model="limit">
        short :  <input type="radio" value="+name" name="order" ng-model="ord">ascending

        <input type="radio" value="-name"  name="order" ng-model="ord">ascending<br><br>
        Search By Name&likes<input ng-model="searchText">



        <table cols="6">

            <thead>
            <tr>
                <th ng-click="sort()">Technology</th>
                <th>Likes</th>
                <th ng-hide="hidesa">Dislike</th>
                <th ng-show="hidesa">Dislike</th>
                <th>Likes / Dislike</th>
            </tr>
            </thead>

            <tr ng-repeat="technology in technologies |filter:search(technology)">
                <td>{{technology.name | uppercase}}</td>
                <td>{{technology.likes}}</td>
                <td ng-hide="hidesa">{{technology.dislikes}}</td>
                <td ng-show="hidesa">####</td>
                <td><input type="button" ng-click="increaseLikes(technology)" value="like">

                    <input type="button" ng-click="increaseDislikes(technology)" value="dislike"></td></tr>
        </table>


    </div >
</div>


</body>

</html>