<html >
<head>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script src="top.js" type="text/javascript"></script>

</head>
<body ng-app="myApp">
<div ng-controller="myController">
<input type="button" id="top" ng-click="scroll('bottom')" VALUE="GO TO BOTTOM">
    <input type="button" ng-click="myFun()" VALUE="toggle p">

  <div ng-show="show">
    <P>To use your custom made service, add it as a dependency when defining the controller:</P>
    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P >To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>
    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P >To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>
    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P >To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>
    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

    <P >To use your custom made service, add it as a dependency when defining the controller:</P>

    <P>To use your custom made service, add it as a dependency when defining the controller:</P>

  </div>
    <input type="button" id="bottom" ng-click="scroll('top')" VALUE="GO TO TOP">
</div>
</body>
</html>