table{
 align-self: center;

    padding: 1em;
    margin-top: 2em;
    margin-bottom: 2em;
    background-color: beige;
    border-radius: 3%;
    border-bottom-color: coral;
    box-shadow: 0 0  13px gray;
}
td{
    padding: 0px 30px 5px 30px;
}
th{
    border-radius: 3%;
    padding: 10px 30px 10px 30px;
    text-align: center;
    background-color: crimson;
    color: aliceblue;
}
td span{
    font-family: "Times New Roman";
}
td span.la{
    font-family: Andalus;
    text-shadow: 0 0 3px gray;
    font-size:2em;
    display: inline;
}
 #sticky{
     position:sticky !important;
     position:-webkit-sticky !important;
     top:0 !important;
 }


/*div.sticky {*/
    /*position: -webkit-sticky; !* Safari *!*/
    /*position: sticky;*/
    /*top: 0;*/

    /*border: 2px solid #4CAF50;*/
/*}*/