<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">


</head>

<body  ng-app="myApp" ng-controller="controller">
<div class="text-center">
    <div style="font-family: 'Cooper Black' ;font-size: 2em;" class="well well-xs bg-success" >Sign up</div>
    <form name="sForm" novalidate>


        <div class="form-group">
            <input name="fname" ng-model="fname" class="form-control text-center" type="text" placeholder="First name" required>
            <span style="color: red;" ng-hide="sForm.fname.$valid">First Name is required</span><br>
        </div>



        <div class="form-group">
            <input name="lname" ng-model="lname" class="form-control text-center" type="text" placeholder="Last name" required>
            <span style="color: red;" ng-hide="sForm.lname.$valid">Last Name is required</span><br>
        </div>



        <div class="form-group">
            <input name="em" ng-model="em" class="form-control text-center" type="email" placeholder="User name or Email" required>
            <span style="color: red;" ng-show="sForm.em.$error.required">Username or Email is required</span>
            <span style="color: red;" ng-show="sForm.em.$error.email">invalid email</span><br>
        </div>


        <div class="form-group">
            <input name="ps" ng-model="ps" class="form-control  text-center" type="password" placeholder="Password" required>
            <span style="color: red;" ng-hide="sForm.ps.$valid">Password is required</span><br>
        </div>



        <div class="form-group">
            <input name="cps" ng-model="cps" class="form-control  text-center" type="password" placeholder="Confirm Password" required>
            <span style="color: red;" ng-hide="sForm.cps.$valid">Confirm Password is required</span> <br>
        </div>



        <div class="form-group">
            <input  class="btn btn-dark" type="submit" ><br>
        </div>

        <span>Already Register  </span><a href="#!login">click here</a><br><br>

    </form>
</div>
</body>
</html>